@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 229 69% 14%;
    --card: 0 0% 100%;
    --card-foreground: 229 69% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 229 69% 14%;
    --primary: 229 69% 14%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 229 69% 14%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 229 69% 34%;
    --accent: 181 100% 50%;
    --accent-foreground: 229 69% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 229 69% 14%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 229 69% 14%;
    --foreground: 0 0% 98%;
    --card: 229 69% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 229 69% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 229 69% 14%;
    --secondary: 229 69% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 229 69% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 181 100% 50%;
    --accent-foreground: 229 69% 14%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 69% 20%;
    --input: 229 69% 20%;
    --ring: 181 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
