@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 100% 95%;
    --foreground: 223 81% 21%;
    --card: 40 100% 95%;
    --card-foreground: 223 81% 21%;
    --popover: 40 100% 95%;
    --popover-foreground: 223 81% 21%;
    --primary: 223 81% 21%;
    --primary-foreground: 40 100% 95%;
    --secondary: 40 33% 91%;
    --secondary-foreground: 223 81% 21%;
    --muted: 40 33% 91%;
    --muted-foreground: 223 81% 41%;
    --accent: 43 74% 49%;
    --accent-foreground: 223 81% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 33% 87%;
    --input: 40 33% 87%;
    --ring: 223 81% 21%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 223 81% 11%;
    --foreground: 40 100% 95%;
    --card: 223 81% 11%;
    --card-foreground: 40 100% 95%;
    --popover: 223 81% 11%;
    --popover-foreground: 40 100% 95%;
    --primary: 40 100% 95%;
    --primary-foreground: 223 81% 21%;
    --secondary: 223 81% 16%;
    --secondary-foreground: 40 100% 95%;
    --muted: 223 81% 16%;
    --muted-foreground: 40 100% 85%;
    --accent: 43 74% 49%;
    --accent-foreground: 223 81% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 81% 16%;
    --input: 223 81% 16%;
    --ring: 40 100% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
